h1 {
    color: red;
    text-align: center;  
}
   
.smallImage {
    float: left;
    width: 30%;
    margin: 12px;
    border: 1px solid black;
    padding: 8px;

}

.thumbnail {
    width: 100%;
}

h2 {
  font-family: sans-serif;
  font-size: 13px;
  color: darkturquoise
}



